.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    padding: 0 24px 0 16px;
}

.search {
    position: relative;
    display: flex;
    width: 500px;
    height: 46px;
    padding-left: 16px;
    background-color: rgba(22, 24, 35, .06);
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        caret-color: var(--primary);
        font-size: 1.6rem;
        background-color: transparent;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-clear,
.search-loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
